# Arquivos compilados
/dist
/build

# Dependências
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Arquivos de cobertura de teste
/coverage
/.nyc_output

# Arquivos de configuração de IDEs e editores
/.vscode
/.idea
*.sublime-project
*.sublime-workspace
/.c9/
*.launch
.settings/
*.tmproj
*.esproj

# Arquivos temporários e de cache
*.swp
*.swo
*.swm
*.swn
*.swl
*.bak
*.bk
*.backup
*.tmp
*.temp
*.cache
*.cached

# Arquivos de ambiente
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
.env.local.*

# Arquivos de credenciais e chaves
*.pem
*.pub
*.key
*.csr
*.cert
*.p12
*.pfx
*.cer

# Dados de execução
/pids
/*.pid
/*.pid.lock
*.seed
*.db
*.sqlite
*.sqlite3
*.csv

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# Arquivos de configuração de ferramentas de teste e linting
/.eslintcache
/.vscode-test
/.wallaby
/sonar-project.properties
/.husky
/.jest
/.snyk
/.esmrc
/.cache
/.nyc
/.idea.js

# Outros
*.tgz
*.zip
*.rar
*.gz
*.bz2
*.7z
*.log*
